/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body {
  margin: 0;
  background-image:url('/assets/coffeebeans.jpg');
  /*background-size:80px 60px;*/
}

body h1 {
  color: #8b8800;
  margin-top: 0;
  margin-left: 25px;
  padding-top: 20px;
}

.container {
  color: #8b8800;
  /*background: #3e1e00;*/
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: 20px;
  padding: 1px 10px 1px 10px;
  background: #3e1e00;
  box-shadow: 10px 10px 5px black;
}

.content h2 {
  margin-top: 8px;
}

.header {
  box-shadow: 0px 10px 5px black;
  height: 80px;
  background: #3e1e00;
}

.form-right {
  float: right;
  width: 275px;
  padding: 0px 7px 15px 7px;
}

label {
  width: 80px;
  /*width: 4em;*/
  float: left;
  text-align: right;
  margin-right: 0.25em;
  display: block
}

.left {
  float: left;
  width: 500px;
  /*min-height: 350px;*/
}

ol li{
  padding-bottom: 5px;
}

table {
  width: 500px;
}

tr td a {
  color: #8b8800;
}

/*tr td a:visited {
  color: #1e003e;
}*/
