<div class='content'>
  <h2>Welcome to Coffee Beans</h2>
  <h3>Select a brand to rate or submit a new one</h3>
</div>

<div class='content left'>Coffee brand selection list:</div>
<div class='content form-right'>Submit new brand:</div>